@import url(https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Google+Sans:ital,opsz,wght@0,17..18,486;1,17..18,486&display=swap);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css);

.fquest-box {
    width: 100%;
    box-sizing: border-box;
}
.fquest-header {
    width: 100%;
    margin: auto;
    aspect-ratio: 2.3 / 1;
    background: var(--fq-header);
    display: grid;
    box-sizing: border-box;
    position: relative;
}
.fquest-band {
    width: 25%;
    height: 100%;
    grid-area: 1 / 1;
    background: linear-gradient(181deg, var(--deco1) 0%, var(--deco2) 100%);
    margin-left: 4vw;
    box-sizing: border-box;
    padding: 2vw;
}
.fquest-logo {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--accent);
    mask: var(--fq-logo);
}
.fquest-tt1 {
    width: 100%;
    font: 2vw 'Fredoka';
    color: var(--accent);
    text-align: center;
    font-weight: 600;
    margin-top: 3vw;
    line-height: 1;
}
.fquest-tt2 {
    width: 100%;
    font: 1.5vw 'Fredoka';
    color: var(--accent);
    text-align: center;
    font-weight: 600;
    margin-top: 0.8vw;
}
.fquest-tt3 {
    width: 100%;
    font: 1.1vw 'Fredoka';
    color: var(--accent);
    text-align: center;
    font-weight: 400;
    margin-top: 0.8vw;
}
.fquest-tag {
    width: 20%;
    aspect-ratio: 1.8058 / 1;
    grid-area: 1 / 1;
    z-index: 2;
    justify-self: center;
    background: var(--fq-tag);
    position: absolute;
    left: 27.4vw;
    top: 1.2vw;
}
.fquest-hflex {
    width: 45%;
    grid-area: 1 / 1;
    justify-self: end;
    align-self: end;
    margin: 0vw 5.5vw 1.6vw 0vw;
    display: flex;
    gap: 1.1vw;
}
.fquest-txt1 {
    width: 75%;
    font: 2vw 'Fredoka';
    color: var(--adcl);
    text-align: center;
    font-weight: 600;
    align-self: center;
}
.fquest-icon {
    width: 24%;
    aspect-ratio: 1 / 1;
    background: var(--adcl);
    mask: var(--fq-icon);
}
.fquest-txtbox {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 2.5vw;
    background: url(https://iili.io/fSmIzzb.jpg) center / 80% repeat;
}
.fquest-title {
    width: 90%;
    margin: 2vw auto 0vw;
    font: 2vw 'Google Sans';
    font-weight: 600;
    color: var(--accent);
    box-sizing: border-box;
}
.fquest-details {
    width: 90%;
    margin: 1vw auto 0vw;
    font: 1.15vw 'Google Sans';
    font-weight: 500;
    color: var(--txtcl);
    line-height: 1.5;
    box-sizing: border-box;
}
.fquest-dash {
    width: 100%;
    height: 3vw;
    border-bottom: 0.2vw dashed var(--accent);
}
.fquest-subtt {
    width: 90%;
    margin: 1.6vw auto 0vw;
    font: 1.3vw 'Google Sans';
    font-weight: 600;
    color: var(--accent);
    box-sizing: border-box;
}
.fquest-mbox {
    width: 80%;
    margin: 2vw auto;
    display: flex;
    gap: 1.25vw;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}
.fquest-mlist {
    width: 24%;
}
.fquest-mgrid {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: grid;
}
.fquest-mpic {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--mpic);
    grid-area: 1 / 1;
    z-index: 3;
}
.fquest-mdeco {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--mcl);
    mask: url(https://iili.io/fSpVe2t.png) center / cover;
    grid-area: 1 / 1;
    z-index: 2;
}
.fquest-mname {
    width: 100%;
    font: 1.25vw 'Google Sans';
    font-weight: 600;
    color: var(--accent);
    text-align: center;
}
.fquest-price {
    width: 100%;
    font: 1.1vw 'Fredoka';
    font-weight: 600;
    color: var(--txtcl);
    text-align: center;
}
.fquest-footer {
    width: 100%;
    margin: auto;
    aspect-ratio: 11 / 1;
    background: var(--fq-header);
}